<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJW_rBSUSgo5FSLMzM0JEPcn3QXm1p4LM</string>
	<key>GCM_SENDER_ID</key>
	<string>417252925557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.vakker.app</string>
	<key>PROJECT_ID</key>
	<string>vakker-c6e5c</string>
	<key>STORAGE_BUCKET</key>
	<string>vakker-c6e5c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417252925557:ios:7b991a2177f5795757d83c</string>
</dict>
</plist>
